<section id="contact" class="Footer bg-dark-grey pt-40">
   <div class="container">
      <div class="row">
         <div class="col-lg-2">
            <img src="/images/logo.png" class="logo-image" alt="Logo">
            <div class="logos">
               <h6><i class="fas fa-envelope"></i></h6>
               <h6><i class="fab fa-linkedin"></i></h6>
               <h6><i class="fab fa-twitter-square"></i></h6>
               <h6><i class="fab fa-facebook-square"></i></h6>
            </div>
         </div>
         <div class="col-lg-2">
            <h6>Product</h6>
            <a class="nav-link text-warning" href="/products/districtMetrics">District Metrics</a>
            <a class="nav-link text-warning" href="/products/geocrede">GeoCreDe</a>
            <a class="nav-link text-warning" href="/insights/xChecks/">X Checks</a>
         </div>
         <div class="col-lg-2">
            <h6>Services</h6>
            <a class="nav-link text-warning" href="/sectors#WATER">Water</a>
            <a class="nav-link text-warning" href="/sectors#SANITATION">Sanitation</a>
            <a class="nav-link text-warning" href="/sectors#SWM">Solid Waste Management</a>
            <a class="nav-link text-warning" href="/sectors#TRANSPORTATION">Transportation</a>
            <a class="nav-link text-warning" href="/sectors#UG">Urban Governance</a>
            <a class="nav-link text-warning" href="/sectors#FMCG">FMCG</a>
         </div>
         <div class="col-lg-3">
            <h6>Contact</h6>

         </div>
         <div class="col-lg-3">
            <h6>Address</h6>
         </div>
      </div>
   </div>
</section>