<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
   <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="#"><span><img src="/images/logo.png" style=" width: 70%;max-width: 70px;"
               alt=""></span></a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">

               <a class="nav-link " href="/aboutUs" id="navbardrop">
                  About Us
               </a>
            </li>
            <!-- <li class="nav-item">
               <a class="nav-link" href="/whatWeDo">What we Do</a>
            </li> -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Products
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="/products/districtMetrics">Distric Metrics</a>
                  <a class="dropdown-item" href="/products/geoCreDe">Geo CreDe</a>
                  <a class="dropdown-item" href="/products/xChecks">Xchecks</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/sectors">
                  Customised Solutions
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Blog</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item">
               <a class="nav-link" href="#contact">Contact Us</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="http://ardberry.com:443">
                  Blue Theme
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>