<section class="container triangle-div">
    <div class="row">
       <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:-2px" viewBox="0 0 1600 321">
          <path fill="#393737" d="M1600 320.9L0-.1h1600z" />
       </svg>
    </div>
 </section>