<%-include('partials/header.ejs')%>
<%-include('partials/navbar.ejs')%>
<div class="container header-container">
    <div class="row">
        <div class="heading">
            <h1>Products and Solutions</h1>
            <p>Akara builds data sciences driven – products and customised solution with a Geo visual (map) framework &
                delivery</p>
            <div class="hero-width-flex">
                <a href="#products" class="btn btn-primary text-secondary" data-cta-link="">
                    Products
                </a>
                <a href="#solutions" class="btn btn-outline-secondary text-secondary" data-cta-sign-up="">
                    Solutions
                </a>
            </div>
        </div>
        <img src="/images/header-new-3.png" class="graphic graphic-main-page hide"
            alt="Turn feedback from Qualtrics, Zendesk, Reviews, Complaints into reports easily">
    </div>
</div>
<section class="container triangle-div">
    <div class="row">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:-2px" viewBox="0 0 1600 321">
            <path fill="#1b9cfc" d="M1600 320.9L0-.1h1600z" />
        </svg>
    </div>
</section>

<div class="" style="padding: 4%;margin: 3%; margin-top: -9%; text-align: justify">
    <div class="container shadow  pb-5 pt-5 mb-5 mt-5" id="products">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="section-title">
                        <h2>Products</h2>
                        <div class="section-subtitle">Products</div>
                        <span class="section-separator"></span>
                    </div>
                </div>
                <p>
                    Akara builds & provides products like SaaS model --- an annual subscription-based as well as a
                    Managed service Provider (MSP). The services encompass Akara’s research driven granular estimation
                    on demand for Indian household market, the Indian banking market and technology-based audits for
                    firms.
                <ol>
                    <li>
                        <a href="https://districtmetrics.com/"><strong>District Metrics</strong></a><br>
                        <em>Granular estimations on how much Indian HHs earns & spends</em>
                    </li>
                    <li>
                        <a href="https://geocrede.com/"><strong>GeCreDe</strong></a><br>
                        <em>Granular data-sets on Credit & Deposit markets in India</em>
                    </li>
                    <li>
                        <strong>Xchecks</strong><br>
                        <em>Pranab to write</em>
                    </li>
                </ol>
                </p>
            </div>
        </div>

    </div>
    <div class="shadow pb-5 pt-5 mb-5 mt-5">
        <div class="container" id="solutions">
            <div class="section-title">
                <h2>Customised Solution</h2>
                <div class="section-subtitle">Customised Solution</div>
                <span class="section-separator"></span>
                <center>
                    <p> Akara builds customised solutions in areas of Urban Governance – Water, Sanitation, Solid waste
                        management, Transportation, etc. The solutions are build for the ULBs along with partners
                        including Big four consultants, Multilateral agencies & Government corporations </p>
                </center>
            </div>
        </div>

        <div class="container" style="margin-bottom: 4%; ">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        Instrument Design
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>
                                        Experienced set of professionals that help design the questionnaire taking into
                                        cognisance the trade-off between the respondent and the objectives of the study.
                                        The trade -off is finely balanced with an appropriate statistical methodology
                                        for data collection.<br>
                                    <ul style="padding-left: 7%;">
                                        <li>
                                            Understanding the study objectives
                                        </li>
                                        <li>
                                            Design Questionnaire
                                        </li>
                                        <li>
                                            Cognisance of the Respondent
                                        </li>
                                        <li>
                                            Sampling Design & Methodology
                                        </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Field Work
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>
                                        Network of enumerators and supervisors across the country. Technology driven
                                        surveys with centralised quality control processes and on field supervision. The
                                        enumerators are equipped with detailed documentation and on field training ----
                                        the instrument & the tech tools deployed for execution
                                    <ul style="padding-left: 7%;">
                                        <li>
                                            Pan India field survey
                                        </li>
                                        <li>
                                            FGDs
                                        </li>
                                        <li>
                                            Intensive Training
                                        </li>
                                        <li>
                                            Mock Sessions & Pre-testing
                                        </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Digital Tools
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>
                                        Expertise and the experience to build and deploy state-of-art tech. tools for
                                        conducting field surveys - CAPI based surveys
                                    <ul style="padding-left: 7%;">
                                        <li>
                                            CAPI / Web /Mobile Apps for real-time data collection & upload
                                        </li>
                                        <li>
                                            Geo referenced data
                                        </li>
                                        <li>
                                            Geo referenced Pictures & videos
                                        </li>
                                        <li>
                                            Real time data integration from IoT devices
                                        </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        GIS
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>
                                        GIS development and geo-visual analytics is a part of Akara’s projects. Our GIS
                                        expertise provides end-to-end solutions for our clients across different sectors
                                        that provide deeper insights into the sector ultimately enabling the
                                        decisionmakers to target the right intervention at the right location. Our GIS
                                        expertise extends across the value chain of GIS space:
                                    <ul style="padding-left: 7%;">
                                        <li>
                                            Obtaining georeferenced information from the ground
                                        </li>
                                        <li>
                                            Creating shapefiles with experienced cartographers
                                        </li>
                                        <li>
                                            GIS programming and analytics backed by robust methodologies
                                        </li>
                                        <li>
                                            Geo-visual dissemination of processed data on web and non-Web platforms.
                                        </li>
                                    </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Research & Analysis
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>
                                        Akara has established research capacity across different sectors including
                                        macroeconomy, state and district level purchasing power in India, public policy,
                                        water and sanitation, urban and rural development, industrial growth,
                                        infrastructure and governance. Akara’s research team uses accurate data from
                                        authentic sources, robust and acknowledged methodology and a transparent process
                                        of research.
                                        <br>
                                        Akara’s outputs in terms of georeferenced MIS, monitoring, Evaluation, and
                                        learning (MEL) studies are products of its research endeavours.
                                        <br>
                                        Akara’s research commences with a strong understanding of the sector and
                                        complete analysis of data availability. We build the systems to bring in data
                                        that bridges any gaps. Our systems are then designed to achieve convergence of
                                        external and internal data that has impact on the study and those that can have
                                        an impact on the outcomes. Robust research methods are used systematically to
                                        analyse data, identify trends and outliers, and build insightful reports.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Dashboards & Impact
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>Akara’s capacities in ICT, GIS, real-time data and research analytics culminate
                                        in the impact-driving and action-prompting dashboards. Across different domains
                                        – from a simple complaints and grievance redressing for a urban local body,
                                        realtime data driven brand audit or a complex smart city system with multiple
                                        projects across multiple sectors, Akara’s dashboards are equipped to showcase
                                        emergent issues, prompting decision makers to act and send information to
                                        relevant stakeholders for interventions. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
    </div>

</div>

<%-include('partials/contact.ejs')%>
<%-include('partials/footer.ejs')%> -->